@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@700&family=Montserrat:wght@400;600&display=swap");
.sheet.daggerheart.actor.character .char-sheet-header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  top: -36px;
  align-items: center;
  height: 300px;
}
.sheet.daggerheart.actor.character .char-sheet-header .main-section {
  align-self: start;
  flex-grow: 1;
  justify-items: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .main-section .background-header {
  height: 36px;
}
.sheet.daggerheart.actor.character .char-sheet-header .actor-name {
  margin-top: -8px;
}
.sheet.daggerheart.actor.character .char-sheet-header input[type=text] {
  font-size: 32px;
  height: 42px;
  width: 380px;
  text-align: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .image-section {
  width: 300px;
  height: 300px;
}
.sheet.daggerheart.actor.character .char-sheet-header .image-section .profile {
  object-fit: cover;
  border-right: 1px solid #f3c267;
  border-bottom: 1px solid #f3c267;
  box-sizing: border-box;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-content: center;
  margin-bottom: 12px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-evasion,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-armor,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-armor-slots,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .level-div {
  border: 1px solid #f3c267;
  background-color: rgb(24, 22, 46);
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  justify-items: center;
  text-transform: uppercase;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-evasion .label,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-armor .label,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .stat-armor-slots .label,
.sheet.daggerheart.actor.character .char-sheet-header .stats-section .level-div .label {
  color: #f3c267;
  padding: 3px 5px;
  text-align: center;
  border-radius: 2px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 40px;
  height: 40px;
  width: 300px;
  bottom: -20px;
  justify-content: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar {
  position: relative;
  width: 100px;
  height: 40px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .labels {
  position: absolute;
  display: flex;
  padding: 0 6px;
  font-size: 1.5rem;
  align-items: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  z-index: 2;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .labels input[type=number] {
  background: transparent;
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar {
  position: absolute;
  appearance: none;
  width: 100px;
  height: 40px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar::-webkit-progress-bar {
  border: none;
  background: rgb(24, 22, 46);
  border-radius: 6px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar::-webkit-progress-value {
  background: linear-gradient(15deg, rgb(70, 20, 10) 0%, rgb(190, 0, 0) 42%, rgb(252, 176, 69) 100%);
  border-radius: 6px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar.stress-color::-webkit-progress-value {
  background: linear-gradient(15deg, rgb(130, 59, 1) 0%, rgb(252, 142, 69) 65%, rgb(190, 0, 0) 100%);
  border-radius: 6px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar::-moz-progress-value, .sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar::-moz-progress-bar {
  border-radius: 6px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar::-moz-progress-bar {
  background: linear-gradient(15deg, rgb(70, 20, 10) 0%, rgb(190, 0, 0) 42%, rgb(252, 176, 69) 100%);
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .progress-bar.stress-color::-moz-progress-bar {
  background: linear-gradient(15deg, rgb(130, 59, 1) 0%, rgb(252, 142, 69) 65%, rgb(190, 0, 0) 100%);
  border-radius: 6px;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  justify-self: anchor-center;
  height: 20px;
  width: 100px;
  transition: transform 0.3s ease-out;
  z-index: 0;
  transform: translateY(0px);
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .controls button {
  transition: transform 0.3s ease-out;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar .controls button i {
  margin: 0;
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar:hover .controls button {
  transform: translateY(-24px);
}
.sheet.daggerheart.actor.character .char-sheet-header .stats-bars .stat-bar:hover .controls button::focus-within {
  transform: translateY(-24px);
  transition: all 3s ease-in-out;
}
.sheet.daggerheart.actor.character .char-sheet-header .name-row {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
.sheet.daggerheart.actor.character .char-sheet-header .resources-row {
  display: flex;
  gap: 20px;
  margin: 12px 0;
  text-transform: uppercase;
}
.sheet.daggerheart.actor.character .char-sheet-header .resources-row .hope-section {
  display: flex;
  gap: 10px;
  background-color: rgb(24, 22, 46);
  color: #f3c267;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .resources-row .hope-section .hope {
  cursor: pointer;
}
.sheet.daggerheart.actor.character .char-sheet-header .resources-row .threshold-section {
  display: flex;
  background-color: rgb(24, 22, 46);
  color: #f3c267;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .resources-row .threshold-section input[type=number] {
  height: 18px;
  width: 36px;
  text-align: center;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section .heritage-item {
  display: flex;
  color: #f3c267;
  background-color: rgb(24, 22, 46);
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-transform: uppercase;
  height: 30px;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section .heritage-item.empty {
  border: 1px dashed #f3c267;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section .heritage-item .controls {
  display: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section .heritage-item:hover .controls {
  display: flex;
  gap: 5px;
}
.sheet.daggerheart.actor.character .char-sheet-header .heritage-section .heritage-item:hover .controls a {
  text-shadow: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section .attribute-div {
  height: 60px;
  width: 70px;
  background-color: rgb(24, 22, 46);
  padding: 5px 0px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-items: center;
  margin-bottom: 12px;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section .attribute-div .label {
  display: flex;
  height: 20px;
  gap: 5px;
  align-items: center;
  color: #f3c267;
  border-bottom: 1px solid #f3c267;
  text-transform: uppercase;
  text-shadow: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section .attribute-div .label .dice-icon {
  display: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section .attribute-div .label:hover .attribute-checked {
  display: none;
}
.sheet.daggerheart.actor.character .char-sheet-header .attributes-section .attribute-div .label:hover .dice-icon {
  display: flex;
}

.sheet.daggerheart.actor.character .sections {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sheet.daggerheart.actor.character .char-tabs {
  position: relative;
  top: -30px;
}

.sheet.daggerheart.actor.character nav.sheet-tabs {
  margin: 0;
  border: none;
}
.sheet.daggerheart.actor.character .char-tab {
  height: 30px;
  align-items: center;
  justify-content: center;
}

.sheet.daggerheart.item.class .window-content {
  position: relative;
  top: -36px;
}
.sheet.daggerheart.item.class .class-sheet-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sheet.daggerheart.item.class .class-sheet-header .profile {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg, transparent 0%, black 10%);
}
.sheet.daggerheart.item.class .class-sheet-header .class-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
  gap: 5px;
  margin: 0 12px;
}
.sheet.daggerheart.item.class .class-sheet-header .class-info .class-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.class .class-sheet-header .class-info .domains-list {
  display: flex;
  gap: 10px;
}
.sheet.daggerheart.item.class .class-sheet-header .class-info h3 {
  font-size: 1rem;
}
.sheet.daggerheart.item.class .class-sheet-header .system-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 10px;
  gap: 10px;
}
.sheet.daggerheart.item.class .class-sheet-header .system-info .evasion,
.sheet.daggerheart.item.class .class-sheet-header .system-info .damage-threshold {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #0e0d15;
  border: 4px double #f3c267;
  color: #efe6d8;
  border-radius: 999px;
  font-size: 1.2rem;
  text-align: center;
}
.sheet.daggerheart.item.class .class-sheet-header .system-info .evasion i,
.sheet.daggerheart.item.class .class-sheet-header .system-info .damage-threshold i {
  font-size: 0.8rem;
}

.application.sheet h1 {
  font-family: "Cinzel Decorative", serif;
  margin: 0;
  border: none;
}
.application.sheet h2,
.application.sheet h3 {
  font-family: "Cinzel", serif;
  margin: 0;
  border: none;
}
.application.sheet h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border: none;
  font-weight: 700;
  margin: 0;
  text-shadow: none;
  color: #f3c267;
}
.application.sheet h5 {
  font-size: 14px;
  color: #f3c267;
  margin: 0;
}
.application.sheet p,
.application.sheet span {
  font-family: "Montserrat", sans-serif;
}
.application.sheet small {
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
}

.sheet.daggerheart.item.class .tab.settings {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item.class .tab.settings input[type=number] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.sheet.daggerheart.item.class .tab.settings input[type=number]:focus {
  outline: 2px solid #efe6d8;
}
.sheet.daggerheart.item.class .tab.settings .domains-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sheet.daggerheart.item.class .tab.settings .domains-list .domain-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.sheet.daggerheart.item.class .tab.settings .domains-list .domain-item span {
  padding-left: 14px;
}

.sheet.daggerheart.item.class .tab.tiers {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry {
  display: flex;
  flex-direction: column;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry .tier-line {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry .tier-line .controls {
  display: flex;
  gap: 5px;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry .tier-line .controls a {
  text-shadow: none;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry .tier-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sheet.daggerheart.item.class .tab.tiers .tier-list .tier-entry .tier-options .tier-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sheet.daggerheart.item.community .window-content {
  position: relative;
  top: -36px;
}
.sheet.daggerheart.item.community .community-sheet-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sheet.daggerheart.item.community .community-sheet-header .profile {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg, transparent 0%, black 10%);
}
.sheet.daggerheart.item.community .community-sheet-header .community-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
  gap: 5px;
  margin: 0 12px;
}
.sheet.daggerheart.item.community .community-sheet-header .community-info .community-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.community .community-sheet-header .community-info h3 {
  font-size: 1rem;
}

.sheet.daggerheart.item.ancestry .window-content {
  position: relative;
  top: -36px;
}
.sheet.daggerheart.item.ancestry .ancestry-sheet-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sheet.daggerheart.item.ancestry .ancestry-sheet-header .profile {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg, transparent 0%, black 10%);
}
.sheet.daggerheart.item.ancestry .ancestry-sheet-header .ancestry-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
  gap: 5px;
  margin: 0 12px;
}
.sheet.daggerheart.item.ancestry .ancestry-sheet-header .ancestry-info .ancestry-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.ancestry .ancestry-sheet-header .ancestry-info h3 {
  font-size: 1rem;
}

.sheet.daggerheart.item.domain-card .window-content {
  position: relative;
  top: -36px;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .recall-cost {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: #0e0d15;
  border: 4px double #f3c267;
  color: #efe6d8;
  border-radius: 999px;
  font-size: 1.2rem;
  text-align: center;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .recall-cost i {
  font-size: 0.8rem;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .profile {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg, transparent 0%, black 10%);
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .domain-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
  gap: 5px;
  margin: 0 12px;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .domain-card-info .domain-card-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.domain-card .domain-card-sheet-header .domain-card-info h3 {
  font-size: 1rem;
}

.sheet.daggerheart.item.domain-card .tab.settings {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item.domain-card .tab.settings input[type=number] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.sheet.daggerheart.item.domain-card .tab.settings input[type=number]:focus {
  outline: 2px solid #efe6d8;
}

.sheet.daggerheart.item.equipment .equipment-sheet-header {
  display: flex;
}
.sheet.daggerheart.item.equipment .equipment-sheet-header .profile {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-right: 1px solid #f3c267;
  border-bottom: 1px solid #f3c267;
  box-sizing: border-box;
}
.sheet.daggerheart.item.equipment .equipment-sheet-header .equipment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 36px;
  width: 100%;
}
.sheet.daggerheart.item.equipment .equipment-sheet-header .equipment-info .equipment-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.equipment .equipment-sheet-header .equipment-info .equipment-description {
  display: flex;
  gap: 10px;
}
.sheet.daggerheart.item.equipment .equipment-sheet-header .equipment-info h3 {
  font-size: 1rem;
}

.sheet.daggerheart.item.equipment .equipment-sheet-sidebar {
  display: flex;
  flex-direction: column;
}
.sheet.daggerheart.item.equipment .equipment-sheet-sidebar .profile {
  height: 167px;
  width: 167px;
  object-fit: cover;
  border-right: 1px solid #f3c267;
  border-bottom: 1px solid #f3c267;
  box-sizing: border-box;
}

.sheet.daggerheart.item.equipment .tab.settings {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item.equipment .tab.settings input[type=number] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.sheet.daggerheart.item.equipment .tab.settings input[type=number]:focus {
  outline: 2px solid #efe6d8;
}
.sheet.daggerheart.item.equipment .tab.settings .price-inputs {
  display: flex;
  gap: 30px;
}
.sheet.daggerheart.item.equipment .tab.settings .price-inputs span i {
  position: relative;
  top: 10px;
  left: -5px;
  z-index: 1;
}

.sheet.daggerheart.item.subclass .window-content {
  position: relative;
  top: -36px;
}
.sheet.daggerheart.item.subclass .subclass-sheet-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sheet.daggerheart.item.subclass .subclass-sheet-header .profile {
  height: 300px;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg, transparent 0%, black 10%);
}
.sheet.daggerheart.item.subclass .subclass-sheet-header .subclass-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -25px;
  gap: 5px;
  margin: 0 12px;
}
.sheet.daggerheart.item.subclass .subclass-sheet-header .subclass-info .subclass-name input[type=text] {
  font-size: 32px;
  height: 42px;
  text-align: center;
}
.sheet.daggerheart.item.subclass .subclass-sheet-header .subclass-info h3 {
  font-size: 1rem;
}

.sheet.daggerheart.item.subclass .tab.settings {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item.subclass .tab.settings input[type=number] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.sheet.daggerheart.item.subclass .tab.settings input[type=number]:focus {
  outline: 2px solid #efe6d8;
}

.application.sheet .window-header {
  background: transparent;
  border-bottom: none;
  justify-content: end;
}
.application.sheet .window-header button.header-control {
  background: #0e0d15;
}

.application.sheet:not(.minimized) .window-title,
.application.sheet:not(.minimized) .window-icon {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.application.sheet.minimized .window-content {
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.application.sheet:not(.minimized) .window-content {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.application.sheet .window-content {
  overflow: initial;
  backdrop-filter: none;
  padding: 0;
}

.application.sheet {
  backdrop-filter: blur(4px);
}

.sheet.daggerheart.item.equipment .window-content {
  position: relative;
  top: -36px;
}

.application.sheet {
  border: 1px solid #f3c267;
}
.application.sheet input[type=text],
.application.sheet input[type=number] {
  background: rgba(24, 22, 46, 0.33);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  outline: none;
  color: #f3c267;
}
.application.sheet input[type=text]:focus[type=text], .application.sheet input[type=text]:focus[type=number],
.application.sheet input[type=number]:focus[type=text],
.application.sheet input[type=number]:focus[type=number] {
  box-shadow: none;
  outline: 2px solid #efe6d8;
}
.application.sheet input[type=checkbox]:checked::after {
  color: #f3c267;
}
.application.sheet input[type=checkbox]::before {
  color: rgb(24, 22, 46);
}
.application.sheet button {
  background: #f3c267;
  border: 1px solid #18162e;
  color: #18162e;
}
.application.sheet button:hover {
  outline: none;
  box-shadow: none;
  background: #18162e;
  border: 1px solid #f3c267;
  color: #f3c267;
}
.application.sheet select {
  background: rgba(24, 22, 46, 0.33);
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.application.sheet select:focus {
  outline-color: #efe6d8;
  box-shadow: none;
}
.application.sheet select option {
  background-color: rgb(24, 22, 46);
  border-radius: 6px;
}
.application.sheet p {
  margin: 0;
}
.application.sheet ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.application.sheet li {
  margin: 0;
}
.application.sheet fieldset {
  align-items: center;
  margin-top: 5px;
  border-radius: 6px;
  border-color: #f3c267;
}
.application.sheet fieldset.one-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  min-height: 64px;
}
.application.sheet fieldset.two-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.application.sheet fieldset legend {
  font-family: "Montserrat", sans-serif;
  color: #f3c267;
}
.application.sheet fieldset input[type=text],
.application.sheet fieldset input[type=number] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
  outline: 2px solid transparent;
}
.application.sheet fieldset input[type=text]:focus, .application.sheet fieldset input[type=text]:hover,
.application.sheet fieldset input[type=number]:focus,
.application.sheet fieldset input[type=number]:hover {
  outline: 2px solid #efe6d8;
}
.application.sheet fieldset .nest-inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}
.application.sheet line-div {
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #f3c267;
  mask-image: linear-gradient(270deg, transparent 0%, black 50%, transparent 100%);
}
.application.sheet .item-description {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.application.sheet .item-description.invisible {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-20px);
  transform-origin: top;
}

.application prose-mirror {
  height: 265px;
}
.application prose-mirror .editor-menu {
  background-color: transparent;
}
.application prose-mirror .editor-content {
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.application prose-mirror .editor-content h1 {
  font-size: 36px;
}
.application prose-mirror .editor-content h2 {
  font-size: 32px;
}
.application prose-mirror .editor-content h3 {
  font-size: 24px;
}
.application .feature-form prose-mirror {
  max-height: fit-content;
}
.application .feature-form prose-mirror .editor-menu {
  padding: 0px;
  gap: 1px;
}

.sheet.daggerheart.item .tab.details {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
}
.sheet.daggerheart.item .tab.details input[type=text] {
  color: #efe6d8;
  font-family: "Montserrat", sans-serif;
}
.sheet.daggerheart.item .tab.details input[type=text]:focus {
  outline: 2px solid #efe6d8;
}

.sheet.daggerheart.item .tab.features {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f3c267 transparent;
}
.sheet.daggerheart.item .tab.features .feature-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item {
  margin-bottom: 10px;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item:last-child {
  margin-bottom: 0px;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .feature-line {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  cursor: pointer;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .feature-line h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: #efe6d8;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .feature-line .image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 6px;
  border: none;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .feature-line .controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .feature-line .controls a {
  text-shadow: none;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .item-description:not(.invisible) {
  margin-top: 5px;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .item-description:not(.invisible) .tags-list {
  display: flex;
  gap: 5px;
  padding: 5px 0;
}
.sheet.daggerheart.item .tab.features .feature-list .feature-item .item-description:not(.invisible) .tags-list .tag-item {
  background-color: rgba(24, 22, 46, 0.33);
  border: 1px solid #efe6d8;
  border-radius: 5px;
  padding: 2px 5px;
}

.application.sheet.daggerheart.actor.feature-setting .feature-form {
  padding: 10px;
}

.application.sheet.daggerheart.actor.level-up-setting .tier-form {
  padding: 10px;
  max-height: 800px;
  overflow-y: auto;
}
.application.sheet.daggerheart.actor.level-up-setting .tier-form .tier-options-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.application.sheet.daggerheart.actor.level-up-setting .tier-form .tier-options-list .tier-option-entry {
  display: flex;
  justify-content: space-between;
}
.application.sheet.daggerheart.actor.level-up-setting .tier-form .tier-options-list .tier-option-entry .controls {
  display: flex;
  gap: 5px;
}
.application.sheet.daggerheart.actor.level-up-setting .tier-form .tier-options-list .tier-option-entry .controls a {
  text-shadow: none;
}

.sheet.daggerheart.item .tab-navigation {
  margin: 5px 0;
  height: 40px;
}
.sheet.daggerheart.item .tab-navigation .feature-tab {
  border: none;
  color: #f3c267;
  gap: 5px;
}
.sheet.daggerheart.item .tab-navigation .feature-tab a {
  text-shadow: none;
  font-family: "Montserrat", sans-serif;
}

.sheet.daggerheart.item .tab.effects {
  padding: 0 10px;
  max-height: 265px;
  overflow-y: auto;
}
.sheet.daggerheart.item .tab.effects .effect-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect .effect-line {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect .effect-line h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: #efe6d8;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect .effect-line .image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 6px;
  border: none;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect .effect-line .controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sheet.daggerheart.item .tab.effects .effect-list .effect .effect-line .controls a {
  text-shadow: none;
}

.sheet.daggerheart.item .tab.description {
  padding: 5px;
  max-height: 265px;
  overflow-y: auto;
}

/*# sourceMappingURL=daggerheart.css.map */
