@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@700&family=Montserrat:wght@400;600&display=swap");
.char-sheet-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: -37px;
  align-items: center;
  background: #1488cc;
  background: -webkit-linear-gradient(128deg, #1488cc 0%, #2b32b2 100%);
  background: linear-gradient(128deg, #1488cc 0%, #2b32b2 100%);
}
.char-sheet-header .actor-name {
  margin-top: -8px;
}
.char-sheet-header input[type=text] {
  font-size: 24px;
  height: 36px;
  width: 320px;
  text-align: center;
}
.char-sheet-header .profile {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: none;
}
.char-sheet-header .stats-section {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 40px;
  top: -20px;
  height: 30px;
}
.char-sheet-header .stats-section .stat-evasion,
.char-sheet-header .stats-section .stat-armor {
  width: 40px;
  height: 40px;
  border: 1px solid #f3c267;
  background-color: #18162e;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  justify-items: center;
}
.char-sheet-header .stats-section .stat-evasion p,
.char-sheet-header .stats-section .stat-armor p {
  font-size: 1.5rem;
  margin: 0;
}
.char-sheet-header .stats-section .stat-evasion .label,
.char-sheet-header .stats-section .stat-armor .label {
  position: relative;
  background: #f3c267;
  top: -2px;
  color: #18162e;
  padding: 3px 5px;
  text-align: center;
  border-radius: 2px;
}
.char-sheet-header .stats-section .stat-bar {
  position: relative;
  width: 100px;
  height: 40px;
}
.char-sheet-header .stats-section .stat-bar .labels {
  position: absolute;
  display: flex;
  padding: 0 6px;
  font-size: 1.5rem;
  align-items: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  z-index: 2;
}
.char-sheet-header .stats-section .stat-bar .labels input[type=number] {
  background: transparent;
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
}
.char-sheet-header .stats-section .stat-bar .progress-bar {
  position: absolute;
  appearance: none;
  width: 100px;
  height: 40px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.char-sheet-header .stats-section .stat-bar .progress-bar::-webkit-progress-bar {
  border: none;
  background: #18162e;
  border-radius: 6px;
}
.char-sheet-header .stats-section .stat-bar .progress-bar::-webkit-progress-value {
  background: linear-gradient(15deg, rgb(70, 20, 10) 0%, rgb(190, 0, 0) 42%, rgb(252, 176, 69) 100%);
  border-radius: 5px;
}
.char-sheet-header .stats-section .stat-bar .progress-bar.stress-color::-webkit-progress-value {
  background: linear-gradient(15deg, rgb(130, 59, 1) 0%, rgb(252, 142, 69) 65%, rgb(190, 0, 0) 100%);
  border-radius: 5px;
}
.char-sheet-header .stats-section .stat-bar .progress-bar::-moz-progress-value, .char-sheet-header .stats-section .stat-bar .progress-bar::-moz-progress-bar {
  border-radius: 5px;
}
.char-sheet-header .stats-section .stat-bar .progress-bar::-moz-progress-bar {
  background: linear-gradient(15deg, rgb(70, 20, 10) 0%, rgb(190, 0, 0) 42%, rgb(252, 176, 69) 100%);
}
.char-sheet-header .stats-section .stat-bar .progress-bar.stress-color::-moz-progress-bar {
  background: linear-gradient(15deg, rgb(130, 59, 1) 0%, rgb(252, 142, 69) 65%, rgb(190, 0, 0) 100%);
  border-radius: 5px;
}
.char-sheet-header .stats-section .stat-bar .controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  justify-self: anchor-center;
  height: 20px;
  width: 100px;
  transition: transform 0.3s ease-out;
  z-index: 0;
  transform: translateY(0px);
}
.char-sheet-header .stats-section .stat-bar .controls button {
  transition: transform 0.3s ease-out;
}
.char-sheet-header .stats-section .stat-bar .controls button i {
  margin: 0;
}
.char-sheet-header .stats-section .stat-bar:hover .controls button {
  transform: translateY(-24px);
}
.char-sheet-header .stats-section .stat-bar:hover .controls button::focus-within {
  transform: translateY(-24px);
  transition: all 3s ease-in-out;
}
.char-sheet-header .level-section {
  position: absolute;
  top: 16px;
  left: 25px;
}
.char-sheet-header .level-section .level-div {
  width: 40px;
  height: 40px;
  border: 1px solid #f3c267;
  background-color: #18162e;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  justify-items: center;
}
.char-sheet-header .level-section .level-div p {
  font-size: 1.5rem;
  margin: 0;
}
.char-sheet-header .level-section .level-div .label {
  position: relative;
  background: #f3c267;
  top: -2px;
  color: #18162e;
  padding: 3px 5px;
  text-align: center;
  border-radius: 2px;
}
.char-sheet-header .row {
  display: flex;
  gap: 20px;
  margin: 8px 0;
}
.char-sheet-header .row .hope-section {
  display: flex;
  background-color: #18162e;
  color: #f3c267;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.char-sheet-header .row .hope-section .hope {
  cursor: pointer;
}
.char-sheet-header .row .threshold-section {
  display: flex;
  background-color: #18162e;
  color: #f3c267;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.char-sheet-header .row .threshold-section input[type=number] {
  height: 18px;
  width: 36px;
  text-align: center;
}
.char-sheet-header .heritage-section {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}
.char-sheet-header .heritage-section .heritage-item {
  display: flex;
  color: #f3c267;
  background-color: #18162e;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #f3c267;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-transform: uppercase;
  height: 30px;
}
.char-sheet-header .heritage-section .heritage-item .controls {
  display: none;
}
.char-sheet-header .heritage-section .heritage-item:hover .controls {
  display: flex;
  gap: 5px;
}
.char-sheet-header .heritage-section .heritage-item:hover .controls a {
  text-shadow: none;
}

.application .window-header {
  background: transparent;
  border-bottom: none;
  justify-content: end;
}
.application .window-header button.header-control {
  background: #0e0d15;
}

.application:not(.minimized) .window-title,
.application:not(.minimized) .window-icon {
  display: none;
}

.application .window-content {
  overflow: initial;
  padding: 0;
}

.application input[type=text],
.application input[type=number] {
  background: rgba(24, 22, 46, 0.33);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  outline: none;
  color: #f3c267;
}
.application input:focus[type=text],
.application input:focus[type=number] {
  box-shadow: none;
  outline: 2px solid #f3c267;
}
.application button {
  background: #f3c267;
  border: 1px solid #18162e;
  color: #18162e;
}
.application button:hover {
  outline: none;
  box-shadow: none;
  background: #18162e;
  border: 1px solid #f3c267;
  color: #f3c267;
}
.application p {
  margin: 0;
}
.application ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.application h1 {
  font-family: "Cinzel Decorative", serif;
  margin: 0;
  border: none;
}
.application h2,
.application h3 {
  font-family: "Cinzel", serif;
  margin: 0;
  border: none;
}
.application h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border: none;
  font-weight: 700;
  margin: 0;
  text-shadow: none;
  color: #f3c267;
}
.application p,
.application span {
  font-family: "Montserrat", sans-serif;
}
.application small {
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
}

/*# sourceMappingURL=daggerheart.css.map */
