<section class='sheet-sections sections'>
    {{> 'systems/daggerheart/templates/actors/character/sidebar.hbs'}}

    <div class="char-tabs">
        {{> 'systems/daggerheart/templates/actors/character/summary.hbs'}}
        {{> 'systems/daggerheart/templates/actors/character/domain-cards.hbs'}}
        {{> 'systems/daggerheart/templates/actors/character/equipment.hbs'}}
    </div>
</section>