<header class='ancestry-sheet-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='ancestry-info'>
        <h1 class='ancestry-name'><input type='text' name='name' value='{{source.name}}' /></h1>
        <h3>{{localize 'DAGGERHEART.Item.type.ancestryCard'}}</h3>
    </div>
</header>