.sheet.daggerheart.actor.character {
    .sections {
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    .char-tabs {
        position: relative;
        top: -30px;
    }
}
