.sheet.daggerheart.actor.character {
    nav.sheet-tabs {
        margin: 0;
        border: none;
    }

    .char-tab {
        height: 30px;
        align-items: center;
        justify-content: center;
    }
}
