@use '../../utils/color.scss';

.sheet.daggerheart.item.class {
    .window-content {
        position: relative;
        top: -36px;
    }
    .class-sheet-header {
        display: flex;
        flex-direction: column;
        justify-content: start;

        .profile {
            height: 300px;
            width: 100%;
            object-fit: cover;
            mask-image: linear-gradient(0deg, transparent 0%, black 10%);
        }

        .class-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -25px;
            gap: 5px;
            margin: 0 12px;

            .class-name {
                input[type='text'] {
                    font-size: 32px;
                    height: 42px;
                    text-align: center;
                }
            }

            .domains-list {
                display: flex;
                gap: 10px;
            }

            h3 {
                font-size: 1rem;
            }
        }
        .system-info {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            right: 10px;
            gap: 10px;

            .evasion,
            .damage-threshold {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background: color.$deep-black;
                border: 4px double color.$golden;
                color: color.$beige;
                border-radius: 999px;
                font-size: 1.2rem;
                text-align: center;

                i {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
