<div>
    <label>Formula:</label>
    <input type='text' name='extraFormula' placeholder='Ex: +2d6' value='' />
</div>
<div>
    <input type='checkbox' id='advantage' name='toggleAdvantage' class='' />
    <label for='toggleAdvantage'>Add d6</label>
</div>
<div>
    <input type='checkbox' id='disadvantage' name='toggleDisadvantage' class='' />
    <label for='toggleDisadvantage'>Remove d6</label>
</div>
<div>
    <input type='checkbox' id='hope-d20' name='toggleDie' class='' />
    <label for='toggleDie'> Increase dice hope from d12 to d20</label>
</div>