@import '../../utils/color.scss';
@import '../../utils/fonts.scss';

.sheet.daggerheart.item.feature {
    .tab.details {
        padding: 0 10px;
        max-height: 265px;
        overflow-y: auto;
        input[type='text'] {
            color: $beige;
            font-family: $font-body;
            &:focus {
                outline: 2px solid $beige;
            }
        }
    }
}
