@import '../utils/color.scss';

.application.sheet {
    border: 1px solid $golden;

    input[type='text'],
    input[type='number'] {
        background: $semi-transparent-dark-blue;
        border-radius: 6px;
        box-shadow: 0 4px 30px $soft-shadow;
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        outline: none;
        color: $golden;
    }

    input:focus[type='text'],
    input:focus[type='number'] {
        box-shadow: none;
        outline: 2px solid $golden;
    }

    button {
        background: $golden;
        border: 1px solid #18162e;
        color: #18162e;
    }

    button:hover {
        outline: none;
        box-shadow: none;
        background: #18162e;
        border: 1px solid $golden;
        color: $golden;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    fieldset {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin-top: 5px;
        gap: 10px;
        border-radius: 6px;
        border-color: $golden;
        legend {
            color: $golden;
        }

        .nest-inputs {
            display: flex;
            gap: 5px;
        }
    }
}
