@import '../utils/color.scss';
@import '../utils/fonts.scss';

.application.sheet {
    border: 1px solid $golden;

    input[type='text'],
    input[type='number'] {
        background: $semi-transparent-dark-blue;
        border-radius: 6px;
        box-shadow: 0 4px 30px $soft-shadow;
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        outline: none;
        color: $golden;
    }

    input:focus[type='text'],
    input:focus[type='number'] {
        box-shadow: none;
        outline: 2px solid $golden;
    }

    button {
        background: $golden;
        border: 1px solid #18162e;
        color: #18162e;
    }

    button:hover {
        outline: none;
        box-shadow: none;
        background: #18162e;
        border: 1px solid $golden;
        color: $golden;
    }

    select {
        background: $semi-transparent-dark-blue;
        color: $beige;
        font-family: $font-body;

        &:focus {
            outline-color: $beige;
            box-shadow: none;
        }

        & option {
            background-color: $dark-blue;
            border-radius: 6px;
        }
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    fieldset {
        align-items: center;
        margin-top: 5px;
        border-radius: 6px;
        border-color: $golden;

        &.one-column {
            display: flex;
            gap: 10px;
            min-height: 64px;
        }

        &.two-columns {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
        }

        legend {
            font-family: $font-body;
            color: $golden;
        }

        .nest-inputs {
            display: flex;
            gap: 5px;
        }
    }

    line-div {
        display: block;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $golden;
        mask-image: linear-gradient(270deg, transparent 0%, black 50%, transparent 100%);
    }
}
