.application .window-header {
    background: transparent;
    border-bottom: none;
    justify-content: end;

    button.header-control {
        background: #0e0d15;
    }
}

.application:not(.minimized) {
    .window-title,
    .window-icon {
        display: none;
    }
}

.application .window-content {
    overflow: initial;
    padding: 0;
}
