@use '../utils/color.scss';

.application.sheet .window-header {
    background: transparent;
    border-bottom: none;
    justify-content: end;

    button.header-control {
        background: color.$deep-black;
    }
}

.application.sheet:not(.minimized) {
    .window-title,
    .window-icon {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.application.sheet.minimized {
    .window-content {
        display: none;
        opacity: 0;
        transition: opacity 0.1s ease;
    }
}

.application.sheet:not(.minimized) {
    .window-content {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

.application.sheet .window-content {
    overflow: initial;
    backdrop-filter: none;
    padding: 0;
}

.application.sheet {
    backdrop-filter: blur(4px);
}

.sheet.daggerheart.item.equipment {
    .window-content {
        position: relative;
        top: -36px; 
    }
}