@import '../utils/color.scss';

.application.sheet .window-header {
    background: transparent;
    border-bottom: none;
    justify-content: end;

    button.header-control {
        background: $deep-black;
    }
}

.application.sheet:not(.minimized) {
    .window-title,
    .window-icon {
        display: none;
    }
}

.application.sheet .window-content {
    overflow: initial;
    padding: 0;
}
