<section class='tab {{tab.cssClass}} description' data-tab='description' data-group='primary'>
    {{formInput
        fields.description
        value=source.system.description
        enriched=description
        toggled=true
        compact=true
        classes='slim'
    }}
</section>