<section class='tab {{tab.cssClass}} details' data-tab='details' data-group='primary'>
    <fieldset>
        <legend>Publication</legend>
        <span>Title</span>
        <input
            type='text'
            name='system.publication.title'
            value='{{item.system.publication.title}}'
            placeholder='Book, Homebrew Collection...'
        />
        <span>Author's</span>
        <input
            type='text'
            name='system.publication.author'
            value='{{item.system.publication.author}}'
            placeholder='Author'
        />
    </fieldset>
</section>