<header class='feature-sheet-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='feature-info'>
        <h1 class='feature-name'><input type='text' name='name' value='{{source.name}}' placeholder='Actor Name' /></h1>
        {{#if item.system.type}}
            <h3>{{localize (concat 'DAGGERHEART.Feature.type.' item.system.type)}}</h3>
        {{/if}}
    </div>
</header>