<nav class='feature-tab sheet-tabs tabs' data-group='primary'>
    <a class='{{tab.cssClass}}' data-action='tab' data-group='primary' data-tab='description'>Description</a>
    <a class='{{tab.cssClass}}' data-action='tab' data-group='primary' data-tab='settings'>Settings</a>
    <a class='{{tab.cssClass}}' data-action='tab' data-group='primary' data-tab='details'>Details</a>
</nav>