<header class='community-sheet-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='community-info'>
        <h1 class='community-name'><input type='text' name='name' value='{{source.name}}' placeholder='Actor Name' /></h1>
        <h3>{{localize 'DAGGERHEART.Community.communityCard'}}</h3>
    </div>
</header>